<html>
<head>
	<title>Board</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	
	<script type="text/javascript">
		window.uniqueuser = "{{ uniqueuser }}";
		window.roomsession = "{{ roomsession }}";
		window.userrole = "{{ userrole }}";
	</script>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/fabric.js"></script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
	<script type="text/javascript" src="/js/Connection.js"></script>
	<script type="text/javascript" src="/js/features.js"></script>
	<script type="text/javascript" src="/js/RenderCanvasObjects.js"></script>
	<script type="text/javascript" src="/js/jscolor.js"></script>
	<script type="text/javascript" src="/js/board.js"></script>
</head>
<body>
	<div class="toolbox">
		<ul>
			<li id="iconsave" class="lel" data-toggle="tooltip" data-placement="bottom" title="Save everything temporary">
				<div class="dropdown">
					<div class="dropdown-toggle dropicondiv" id="dropidsave" type="button" data-toggle="dropdown" aria-expanded="true"></div>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropidsave">
					    <li role="presentation" id="image_out"><a role="menuitem" tabindex="-1">Save As Image</a></li>
					    <li role="presentation" id="store_out"><a role="menuitem" tabindex="-1">Save Backup In LocalStorage</a></li>
					    <li role="presentation" id="store_load"><a role="menuitem" tabindex="-1">Load Backup From Localstorage</a></li>
		  			</ul>
				</div>
				<div class="iconkitsave iconpack"></div>
			</li>
			<li id="iconstore" class="lel" data-toggle="tooltip" data-placement="bottom" title="Clear Window">
				<div class="iconkitstore iconpack"></div>
			</li>
			<li id="iconundo" class="lel" data-toggle="tooltip" data-placement="bottom" title="Undo last event">
				<div class="iconkitundo iconpack"></div>
			</li>
			<li id="icondelete" class="lel" data-toggle="tooltip" data-placement="bottom" title="Delete Selected Object">
				<div class="iconkitdelete iconpack"></div>
			</li>
			<div class="line-break-vertical"></div>
			<li id="iconcursor" class="lel" data-toggle="tooltip" data-placement="bottom" title="Move Cursor">
				<div class="iconkitcursor iconpack"></div>
			</li>
			<li id="iconpencil" class="lel" data-toggle="tooltip" data-placement="bottom" title="Draw using Brush">
				<div class="iconpencildd">
					<div class="dropdown-toggle dropicondiv" type="button" id="dropidpencil" data-toggle="dropdown" aria-expanded="true"></div>
					<!-- <ul class="dropdown-menu toolpencilsetting clearfix" role="menu" aria-labelledby="dropidpencil">
					    <li role="presentation" class="tpens-colorset">
					    	<ul>
					    		<li class="black choosepencilcolor" data-pencilcolor="000000"></li>
					    		<li class="red choosepencilcolor"  data-pencilcolor="8B0000"></li>
					    		<li class="grey choosepencilcolor"  data-pencilcolor="cccccc"></li>
					    		<li class="green choosepencilcolor"  data-pencilcolor="008000"></li>
					    		<li class="blue choosepencilcolor"  data-pencilcolor="0000FF"></li>
					    		<li class="orange choosepencilcolor"  data-pencilcolor="FFA500"></li>
					    		<li class="white choosepencilcolor"  data-pencilcolor="FFFFFF"></li>
					    		<li class="yellow choosepencilcolor"  data-pencilcolor="FFFF00"></li>
					    		<li class="brown choosepencilcolor"  data-pencilcolor="b68d4c"></li>
					    		<li class="pink choosepencilcolor"  data-pencilcolor="FFC0CB"></li>
					    	</ul>
					    </li>
					    <li role="presentation" class="tpens-thickset">
					    	<ul>
					    		<li class="choosepencilthickness">
					    			<span class="thick1" data-pencilthickness="2"></span>
					    		</li>
					    		<li class="choosepencilthickness">
					    			<span class="thick3"  data-pencilthickness="6"></span>
					    		</li>
					    		<li class="choosepencilthickness">
					    			<span class="thick5"  data-pencilthickness="12"></span>
					    		</li>
					    		<li class="choosepencilthickness">
					    			<span class="thick7"  data-pencilthickness="18"></span>
					    		</li>
					    		<li class="choosepencilthickness">
					    			<span class="thick10"  data-pencilthickness="24"></span>
					    		</li>
					    	</ul>
					    </li>
		  			</ul> -->
				</div>
				<div class="iconkitpencil iconpack"></div>
			</li>
			<li id="icontext" class="lel" data-toggle="modal" data-target="#textModal" data-toggle="tooltip" data-placement="bottom" title="Type your text">
				<div class="iconkittext iconpack"></div>
			</li>
			<li id="iconshape" class="lel" data-toggle="tooltip" data-placement="bottom" title="Choose from Shapes">
				<div class="dropdown">
					<div class="dropdown-toggle dropicondiv" type="button" id="dropidshape" data-toggle="dropdown" aria-expanded="true"></div>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropidshape">
					    <li role="presentation" id="iconshapecircle"><a role="menuitem" tabindex="-1">Circle</a></li>
					    <li role="presentation" id="iconshaperectangle"><a role="menuitem" tabindex="-1">Rectangle</a></li>
					    <li role="presentation" id="iconshapetriangle"><a role="menuitem" tabindex="-1">Triangle</a></li>
					    <li role="presentation" id="iconshapeellipse"><a role="menuitem" tabindex="-1">ellipse</a></li>
		  			</ul>
				</div>
				<div class="iconkitshape iconpack"></div>
			</li>


			<div class="line-break-vertical"></div>



			<li id="iconcolordrop" class="lel" style="margin-top:-60px;padding:4px;" data-toggle="tooltip" data-placement="bottom" title="Choose color">
					<input style="width: 30px;height:30px;font-size: 0px;cursor:pointer;border:none;" class="color jsercolor" id="myColor" value="000000">
			</li>
			
			<li id="iconthickness" class="thickitup" data-toggle="tooltip" data-placement="bottom" title="Choose thickness">
				<div class="thickbackit"></div>
				<div class="iconthicknessdd">
					<div class="dropdown-toggle dropicondiv" type="button" id="dropidthickness" data-toggle="dropdown" aria-expanded="true"></div>
					<ul class="dropdown-menu toolthicksetting clearfix" role="menu" aria-labelledby="dropidthickness">
					   <li class="thickborder thick2" data-winthickness="2"><span></span></li>
					   <li class="thickborder thick6" data-winthickness="6"><span></span></li>
					   <li class="thickborder thick12" data-winthickness="12"><span></span></li>
					   <li class="thickborder thick18" data-winthickness="18"><span></span></li>
					   <li class="thickborder thick24" data-winthickness="24"><span></span></li>
		  			</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="wrapper clearfix">
		<div class="canvascontainer col-xs-10">
			<canvas id="canvas"></canvas>
		</div>
		<div class="col-xs-2 userlist">
		<div class="connectionstatus">
			<span>Trying to reconnect...</span>
		</div>
			<div class="currentusersbox">
				<div class="heaedcub">Connected Users</div>
				<ul class="cub-ullist"></ul>
			</div>
			<div class="uploadpdfbutton">
				<div class="heaedcub">Upload PDF</div>
				<button class="btn btn-default uploadpdf">Upload</button>
			</div>
		</div>			
	</div>
	<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose Your Style</h4>
      </div>
      <div class="modal-body">
      	<div class="row texto">
      		<div class="col-xs-12">
	      		<input type="text" class="form-control textstr"  placeholder="Type your text" />      			
      		</div>
			<div class="col-xs-6">
		      	<input type="number" class="form-control textsize" placeholder="Size" />			
			</div>
			<div class="col-xs-6">
				<select name="" class="form-control textcolor" name="textcolor">
		      		<option value="#000000">Black</option>
		      		<option value="#8B0000">Red</option>
		      		<option value="#008000">Green</option>
		      		<option value="#0000FF">Blue</option>
		      		<option value="#FFA500">Orange</option>
		      		<option value="#FFFFFF">White</option>
		      		<option value="#FFC0CB">Pink</option>
		      		<option value="#FFFF00">Yellow</option>
		      		<option value="#b68d4c">Brown</option>
		      		<option value="#cccccc">Grey</option>
		      	</select>	
			</div>
	      	
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary outtext" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
	window.resource.color= $('#myColor').val();
});
</script>
</body>
</html>